
.container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sudoku {
  margin-top: 20px;
  border-collapse: collapse;
  text-align: center;
  font-size: 32px;
  border: 3px solid black;
  font-weight: bold;
}
.sudoku td {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}
.sudoku td:nth-child(3n) {
  border-right-width: 3px;
}
.sudoku tr:nth-child(3n) {
  border-bottom: 3px solid black;
}
.sudoku .selected {
  color            : white;
  background-color : #0b7aaa;
}
.sudoku .selected.wrong {
  background-color : red;
}
.sudoku .constant {
  background-color: orange;
}

.button {
  background: blueviolet;
  padding: 8px 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}
.button + .button {
  margin-left: 0.5em;
}
.center {
  padding: 1em;
  text-align: center;
}

/*
 * Sidenav
 */
.sidenav-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.sidenav {
  width: 250px;
  border-right: 1px solid gray;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
}
.sidenav-body {
  flex-grow: 1;
}
.stack-cell {
  padding: 8px;
  border-top: 1px solid gray;
  text-align: center;
  font-size: 1.2em;
}