
.container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sudoku {
  margin-top: 20px;
  border-collapse: collapse;
  text-align: center;
  font-size: 32px;
  border: 3px solid black;
  font-weight: bold;
}
.sudoku td {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}
.sudoku td:nth-child(3n) {
  border-right-width: 3px;
}
.sudoku tr:nth-child(3n) {
  border-bottom: 3px solid black;
}